@import "bourbon";

/*==========  Desktop First Method  ========== */
@media only screen and (max-width: 1500px) {


	footer{
		.button-content{
			padding-left: 0 !important;

		}
		.svg-wrapper,
		.button-content{
			margin-top: 70px;
		}
	}

	.contacts-form{
		.contacts-wrapper{
			padding-top:35px;
			margin-top: 0 !important;
			margin-left: 0 !important;
			img{
				margin-top: 33px !important;
			}
		}
		form{
			margin-left: 0 !important;
		}

	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

	.phone{
		padding-right: 50px;
	}
	footer{
		.button-content{
			padding-left: 0 !important;

		}
		.svg-wrapper,
		.button-content{
			margin-top: 70px;
		}
	}

	.map{
		height:600px;
		overflow: hidden;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

	.reasons{
		padding-bottom: 100px;

		.item-box{
			img,i {
				margin: 0 !important;
			}

		}
	}

	.work{
		margin-top: -35px;
		.item-box{
			padding-left:15px !important;
			padding-right: 15px !important;
			margin-bottom: 15% !important;
			img{
				margin: 0 auto;
				display: block;
			}
			&:nth-child(n+1){
				background: none !important;
			}
			p{
				font-size: em(22px) !important;
				text-align: center;
				br{
					display: none;
				}
			}
			.sprite{
				img{
					margin: 5% auto !important;
				}
			}
		}

	}


}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

	/*Disable Animation on Mobile Devices */
	.animated {
		/*CSS transitions */
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms */
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations */
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}


	header {
		.top_line {
			text-align: center;
			.logo {
				display: inline-block;
			}
			.phone {
				padding-right: 30px;
				text-align: center;

			}
			.phone-wrap {
				font-size: em(18px);
			}
			.callback {
				display: inline-block;
				margin-top:7px;
				font-size: em(9.5px)
			}


		}
		.top_wrapper {
			height: 85%;
			.top_description{
				.top_text{

					h1 {
						font-size: em(48px);
					}
					p {
						font-size: em(18px);
					}

				}
			}
		}

	}

	.map{
		height:300px;
		overflow: hidden;
	}
	.contacts-form{
		.contacts-wrapper{
			img{
				margin-top: 45px !important;
			}
		}


	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.phone{
		line-height: em(35px);
	}

	h2{
		font-size:em(36px);
	}

	.service{

		h3{
			line-height: normal;
		}
		.item-box{
			min-height:250px !important;
		}
	}

	.reasons{

		.item-box{
			margin-bottom:50px !important;

			img,i{
				margin-top: 0 !important;
			}
		}
	}
	.email{
		input{
			float: left;
			width: 100%;
			margin-top: 25px;
		}
		.button{
			width: 100% !important;
		}
	}
	.reviews{
		img{
			float: none !important;
			margin: 0 auto !important;
			display: block;

		}
		h3{
			text-align: center;
		}
		p{
			margin: 0 !important;
		}
	}
	.contacts{
		.button{
			width: 100% !important;
		}
	}


}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {


}

/*==========  Mobile First Method  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	/* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	/* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	/* */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/* */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.service{

		.item-box{
			padding: 0;
		}
	}
}
