@import "bourbon";
@import "vars";
@import "fonts";


body {
	font-size: 100%;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: #fff;
}
html{
	font-size: inherit;
}

.hidden {
	display: none;
}


//Сили для Header
header{
	background:url("../img/fullscreen-slider.jpg") no-repeat center ;
	background-size: cover;
	width: 100%;
	height: 100vh;
	@include outline(green);

	.top_line{
		width: 100%;
		height: 3.938em;
		background-color: #fff;

		.logo{
			display: block;
			margin-top: 5px;
		}
		.main-mnu{
			text-align: center;
			> ul{
				> li{
					>a{
						color: #2c2c2c;
						display: block;
						margin: 18px 10px;
						@include mt(.5s);
						&:hover{
							text-decoration: none;
							color: #337ab7;

						}
					}
					&.active{
						a{
							color: #2c2c2c;
							width: 6em;
							height: 1.625em;
							border: 0.063em solid #2c2c2c;
							border-radius: 13px;
						}

					}
				}
			}
		}
	nav ul{
		list-style-type:none;
		padding: 0;
		margin: 0;
			li{
				display: inline-block;
			}

		}

	}
}

.phone{
	margin-top:12px ;
	text-align: right;
	line-height: em(12px);
		.phone-wrap{
			color: #1b325f;
			font:em(23px) pf_din_text_cond_prolight;

			i{
				margin-right:8px;
				font-size:em(16px);
			}


		}

	.callback{
		color: #7e91a4;
		font-size:em(11.9px);
		border-bottom: 1px dashed #7e91a4;
		@include mt(.3s);
		&:hover{
			text-decoration: none;
			border-color: transparent;
		}
	}
}