@import "bourbon";
@import "vars";

body {
	font-size: 100%;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: #fff;
}
html{
	font-size: inherit;
}

.hidden {
	display: none;
}

h2{
	font: em(48px) pf_dindisplay_probold ;
	text-transform: uppercase;
	color: $primary-color_blue;
	text-align: center;
}

/* Прелоадер */
.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background: #fff url("../img/preloader.gif") no-repeat center;
	background-size: cover;
	height:128px;
	width:128px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

//Сили для Header
header{
	width: 100%;
	height: 100%;
	min-height: 620px;
	padding-bottom: 8%;

	.top_line{
		position: relative;
		width: 100%;
		height: 3.938em;
		background-color: #fff;
		z-index: 999;

		.logo{
			display: block;
			margin-top: 5px;
		}
		.main-mnu{
			text-align: center;
			> ul{
				> li{
					>a{
						font-size:em(13px);
						color: #2c2c2c;
						display: block;
						margin: 18px 10px;
						//@include mt(.2s);
						&:hover{
							text-decoration: none;
							color: #337ab7;
							outline: none;
						}
						&:active{
							outline: none;
						}
					}
					&.active{
						a{
							text-decoration: none;
							padding:2px 13px;
							color: #2c2c2c;
							border: 0.063em solid #2c2c2c;
							border-radius: 13px;
							&:active{
								outline: none;
							}
						}

					}
				}
			}
		}
	nav ul{
		list-style-type:none;
		padding: 0;
		margin: 0;
			li{
				display: inline-block;
			}

		}
	}
	.phone{
		margin-top:15px ;
		text-align: right;
		line-height: em(12px);
		.phone-wrap{
			color: #1b325f;
			font:em(23px) pf_din_text_cond_prolight;
				i{
					margin-right:8px;
					font-size:em(16px);
				}
		}

		.callback{
			color: #7e91a4;
			font-size:em(11.9px);
			border-bottom: 1px dashed #7e91a4;
			@include mt(.3s);
				&:hover{
					text-decoration: none;
					border-color: transparent;
				}
		}
	}

	.top_wrapper{
		animation-duration: 2s;
		display: table;
		width: 100%;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
		z-index: 10;
		.top_description{
			display: table-row;
			.top_centered{
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}
			.top_text{
				display: inline-block;
				h1{
					font:em(90px) 'Times New Roman', sans-serif;
					display: inline-block;
					padding:25px 35px ;
					color: #1b325f;
					border: 8px solid rgba(255,255,255,.9);
					background-color: rgba(255,255,255,.3);
					font-weight: bold;
					letter-spacing:4px;
					margin-left: 20px;
					margin-right: 20px;
					position: relative;
				}
				p{
					margin: 0;
					text-transform: uppercase;
					color: $primary-color_blue_light;
					letter-spacing:4px;
					font-size:em(24px);
				}

			}
			.h_opacity{
				opacity: .3;
				@include mt(.25s);
			}
		}

//Анимация мышкой
		.card {
			pointer-events: none;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			border-radius: 5px;
			margin: auto;
			transform-style: preserve-3d;
			backface-visibility: hidden;
			display: flex;
			position: relative;
			z-index: -9999;
		}
		.card:after {
			content: " ";
			position: absolute;
			width: 100%;
			height: 10px;
			border-radius: 50%;
			left: 0;
			bottom: 10px;
			//box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
		}
		.card .card-content {
			margin: auto;
			text-align: center;
			transform-style: preserve-3d;
		}
		.card h1 {

			transform: translateZ(100px);
		}
		.card p {

			transform: translateZ(50px);
			display: block;
		}
		.card p.related {

			transform: translateZ(80px);
		}
	}

//Бургер меню----------------------------

	.toggle-mnu {
		display: block;
		width: 28px;
		height: 28px;
		margin-top:21.5px;
	}
	.toggle-mnu span:after, .toggle-mnu span:before {
		content: "";
		position: absolute;
		left: 0;
		top: 9px;
	}
	.toggle-mnu span:after {
		top: 18px;
	}
	.toggle-mnu span {
		position: relative;
		display: block;
	}
	.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
		width: 100%;
		height: 2px;
		background-color: #000;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 2px;
	}
	.toggle-mnu.on span {
		background-color: transparent;
	}
	.toggle-mnu.on span:before {
		transform: rotate(45deg) translate(-1px, 0px);
	}
	.toggle-mnu.on span:after {
		transform: rotate(-45deg) translate(6px, -7px);
	}
	.toggle-mnu{
		position: absolute;
		top: 0;
		right: 15px
	}

//-----------------------------------------------------------

//Скроль мыши иконка
	.mw-wrapper{
		text-align: center;
		padding-bottom: 20px;


 // Mouse animate icon

		.mouse-icon {
			cursor: pointer;
			display: inline-block;
			border: 2px solid  #fff;
			border-radius: 16px;
			height: 40px;
			width: 24px;
			z-index: 10;
			opacity: 0.7;
		}
		.mouse-icon .wheel {
			animation-name: drop;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-delay: 0s;
			animation-iteration-count: infinite;
			animation-play-state: running;
		}
		.mouse-icon .wheel {
			position: relative;
			border-radius: 10px;
			background: #fff;
			width: 2px;
			height: 6px;
			top: 4px;
			margin-left: auto;
			margin-right: auto;
		}
		@-webkit-keyframes drop {
			0% {
				top: 5px;
				opacity: 0;
			}
			30% {
				top: 10px;
				opacity: 1;
			}
			100% {
				top: 25px;
				opacity: 0;
			}
		}
		@keyframes drop {
			0% {
				top: 5px;
				opacity: 0;
			}
			30% {
				top: 10px;
				opacity: 1;
			}
			100% {
				top: 25px;
				opacity: 0;
			}
		}

	}

	.hidden-mnu {
		background-color: $primary-color_blue_light;
		display: none;
		position: relative;
		z-index: 9999;
		top: 20px;
		border-radius:4px;
		background: -moz-linear-gradient(top,  rgba(141,211,255,1) 0%, rgba(21,173,255,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(141,211,255,1) 0%,rgba(21,173,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(141,211,255,1) 0%,rgba(21,173,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dd3ff', endColorstr='#15adff',GradientType=0 );
		border-bottom:8px solid #fff;
		box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.47);


		li {
			display: block !important;
		}
		> ul {
			padding: 15px 0;
			> li {

				&.active {
					a {
						color: #fff;
						width: 100% !important;
					}
				}
				>a {
					text-transform: uppercase;
					text-decoration: none;
					margin: 10px 0 !important;
					&:hover {
						color: white;
						background-color: #fff;
						text-decoration: none;
						border-radius: 13px;

					}
				}
			}
		}
	}
}











