@import "bourbon";
@import "vars.scss";



*::-webkit-input-placeholder {
	color: #666666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666666;
}

body input:required:valid,
body textarea:required:valid {
	color: #666666;
}

//Custom Styles Here
.service{
	min-height:61.5em ;
	background:#f2f2f2 url("../img/service_bg.jpg") no-repeat center;
	background-size:cover;
	width: 100%;
	height: auto;

	h2{
		padding: 0;
	}

	.service-wrapper{
		.service-area{
			width:100%;
			height: 25.188em;
			border: 0.063em solid #d8d7d7;
			border-radius: 3px;
		}
		.item{
			padding: 0;
			margin: 0;
			.item-box{
				border: 0.063em solid #d8d7d7;
				height: 192px;
					img{
						float: left;
						margin-top: 36px;
						margin-left: 27px;
					}
				h3{
					margin-top: 36px;
					margin-left: 26px;
					color: #1b325f;
					text-transform: uppercase;
					font-size: 1.125em;
					font-family:'pf_din_text_comp_promedium';
				}
			}
		}

	}
}


//ALWAYS END
@import "media";

//Load Libs SASS
@import "app/libs/animate/animate.scss";
//Load Libs SASS
@import "app/libs/font-awesome/css/font-awesome.scss";

