
@import "fonts";
@import "bourbon";
@import "vars";
@import "custom_popup";


*::-webkit-input-placeholder {
	color: #b8b8b8;
	opacity: 1;
}

*:-moz-placeholder {
	color: #b8b8b8;
	opacity: 1;
}

*::-moz-placeholder {
	color: #b8b8b8;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #b8b8b8;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666666;
}

body input:required:valid,
body textarea:required:valid {
	color: #666666;
}
/* Прелоадер */
#page-preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 100500;
}

#page-preloader .spinner {
	width: 200px;
	height: 106px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/preloader.gif') no-repeat 50% 50%;
	margin: -16px 0 0 -16px;
}

//Custom Styles Here
.service{
	background:#f2f2f2 url("../img/service_bg.jpg") no-repeat center;
	background-size:cover;
	width: 100%;
	height: auto;
	margin-bottom: 120px;
	padding-top:35px;

	h2{
		padding: 0;

	}

	.service-wrapper{
		.service-area{
			width:100%;
			height: 25.188em;
			border: 0.063em solid #d8d7d7;
			border-radius: 3px;
		}
		.item{
			padding: 0;
			margin: 0;
			.item-box{
				border: 0.063em solid #d8d7d7;
				min-height:250px;
					img{
						float: left;
						margin-top: 25px;
						margin-left:8px;
					}
				h3{
					margin-top: 18px;
					margin-left: 71px;
					margin-bottom: 0;
					color: #1b325f;
					text-transform: uppercase;
					font-size: 1.125em;
					font-family:'pf_din_text_comp_promedium';
					span{
						display:block;
						padding-top: -55px;
						font-size: em(10px);

					}
				}
				p{
					font-size: em(12px);
					margin-left: 71px;
					line-height: normal;
					margin-bottom: 16px;
				}
				a{
					color: $primary-color_blue;
					text-decoration: none;
					background-color: $primary-color_blue_light;
					padding: 3px 35px;
					margin-left: 71px;
				}
				//Анимация hover
				.button {
					display: inline-block;
					position: relative;
					-webkit-transition: all 0.2s ease-in;
					-moz-transition: all 0.2s ease-in;
					transition: all 0.2s ease-in;
				}
				.button:hover {
					color: white;
					//box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
					background-color: #00c7ec;
					-webkit-transition: all 0.2s ease-out;
					-moz-transition: all 0.2s ease-out;
					transition: all 0.2s ease-out;
				}
				.button:hover:before {
					-webkit-animation: shine 0.5s 0s linear;
					-moz-animation: shine 0.5s 0s linear;
					animation: shine 0.5s 0s linear;
				}
				.button:active {
					box-shadow: 0 0 0 0 transparent;
					-webkit-transition: box-shadow 0.2s ease-in;
					-moz-transition: box-shadow 0.2s ease-in;
					transition: box-shadow 0.2s ease-in;
				}
				.button:before {
					content: '';
					display: block;
					width: 0px;
					height: 86%;
					position: absolute;
					top: 7%;
					left: 0%;
					opacity: 0;
					background: white;
					box-shadow: 0 0 15px 3px white;
					-webkit-transform: skewX(-20deg);
					-moz-transform: skewX(-20deg);
					-ms-transform: skewX(-20deg);
					-o-transform: skewX(-20deg);
					transform: skewX(-20deg);
				}

				@-webkit-keyframes shine {
					from {
						opacity: 0;
						left: 0%;
					}
					50% {
						opacity: 1;
					}
					to {
						opacity: 0;
						left: 100%;
					}
				}
				@-moz-keyframes shine {
					from {
						opacity: 0;
						left: 0%;
					}
					50% {
						opacity: 1;
					}
					to {
						opacity: 0;
						left: 100%;
					}
				}
				@keyframes shine {
					from {
						opacity: 0;
						left: 0%;
					}
					50% {
						opacity: 1;
					}
					to {
						opacity: 0;
						left: 100%;
					}
				}
			}
		}

	}
}

//Блок "Причины выучить английский язык"

.reasons{
	overflow: hidden;
	min-height:61.5em ;
	background:#f2f2f2 url("../img/newsletter-parallax.png") no-repeat center;
	background-size:cover;
	width: 100%;
	height: auto;

	img{
		max-width: 100%;
		display: block;
	}

		h2{
			margin-bottom:90px;
		}

		.item{
			padding: 0;
			margin: 0;
			.item-box{
				margin-bottom: 25px;
				height: auto;
				animation-delay:.10s ;
				opacity: 0;
				transition: all .5s ease;
				transform: translateY(-25px);
				&.on{
					opacity: 1;
					transform: translateY(0);
				}
				&:hover{
					transform: translateY(-10px)
				}

				svg{
					float: left;
					margin-top: 25px;
					fill:$primary-color_blue;

				}
				i{
					float: left;
					margin-top: 25px;
					font-size: em(58px);
					color: $primary-color_blue;
					text-align: left;

				}
				h3{
					margin-top: 27px;
					margin-left: 82px;
					line-height: normal;
					color: $primary-color_blue;
					text-transform: uppercase;
					font-size: 1.125em;
					font-family:'pf_din_text_comp_promedium';
				}
				p{
					font-size: em(15px);
					margin-left: 82px;
					line-height: normal;
					color: #333;
				}

			}
		}

	.item-box:hover  i {
		@include mt(0.8s) ;
		color: $primary-color_footer;

	}
	.item-box:hover  svg {
		@include mt(0.8s) ;
		fill: $primary-color_footer;

	}

}

//Раздел work

.work{
	margin-top: -70px;
	padding-top:40px;
	height: auto;
	background:url("../img/work_bg.jpg") repeat;
	transform: skewY(4deg);
	padding-bottom:80px;
		.container{
			transform: skewY(-4deg);

			h2{

				color: #fff;
			}
			.item{
				padding: 0;
				margin: 0;
				.item-box{
					padding: 0;
					margin-bottom: 25px;
					height: auto;

					img{
						margin-top:10px;
					}
					.sprite{
						img{
							display: block;
							margin-top:12.5%;
							margin-left:12.5%;
							margin-bottom:8%;
						}
					}

					p{
						font-family:'pfdintextcomppro';
						font-size: em(18px);
						line-height: normal;
						text-transform: uppercase;
						color: $primary-color_blue;
						margin: 0;
					}

					&:nth-child(1){
						background:#2e97db url("../img/work/1.png") no-repeat 111px 0;
					}
					&:nth-child(2){
						background:#2e97db url("../img/work/2.png") no-repeat 111px 0;
					}
					&:nth-child(3){
						background:#2e97db url("../img/work/3.png") no-repeat 111px 0;
					}


				}


			}

		}

}
.email{
	background-color: #fff;
height: auto;
	padding-bottom: 50px;
	h4{
		margin-top: 120px;
		text-transform: uppercase;
		color: $primary-color_blue-light;
		font-weight:normal;
		font-size:em(22px);
	}
	form{
		.form-group{
			float: left;
			margin-top: 15px;

		}
		input{
			width: 100%;
			height: 3.25em;
			border: 0.063em solid #80ceff;
			border-radius: 10px;
			padding-left:40px;
			text-transform: uppercase;


		}


	}

	/* Common button styles */
	.button {
		float: left;
		display: block;
		border: none;
		position: relative;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		border-radius: 10px;
		width: 14.438em;
		height: 3.25em;
		font-family:'pf_dindisplay_proregular', sans-serif;
	}
	.button:focus {
		outline: none;
	}

	/* Isi */
	.button--isi {
		background-color: $primary-color_blue;
		overflow: hidden;
		color: $primary-color_blue;
	}
	.button--isi::before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 50%;
		left: 100%;
		margin: -15px 0 0 1px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $primary-color_blue_light;
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-transform: scale3d(1, 2, 1);
		transform: scale3d(1, 2, 1);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
		transition-timing-function: cubic-bezier(0.7,0,0.9,1);

	}
	.button--isi:hover > span {
		color:$primary-color_blue;
		@include mt(.3s)
	}


	.button--isi > span {
		vertical-align: middle;
		color: $primary-color_blue-light;

	}
	.button--isi:hover::before {
		-webkit-transform: scale3d(9, 9, 1);
		transform: scale3d(9, 9, 1);

	}


}
.results{
	overflow: hidden;
	//background:url("../img/parallax-light.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	height:49.563em ;
	position: relative;
	img{
		max-width: 101%;
		display: block;
	}
	.circle{
		display: table;
		background:#80ceff url("../img/circle.jpg") no-repeat center;
		width: 23.063em;
		height: 23.063em;
		border-radius: 50%;
		background-size: cover;
		//Вертикальное выпавнивание
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		h2{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff;
			font-family:'pfdintextcomppro', sans-serif;
			font-size:em(33px);
		}
		.item{
			.item-circle{
				display: table;
				position: absolute;
				margin: auto;
				width: 7.063em;
				height: 7.063em;
				background-color: #80ceff;
				border: 0.437em solid #b1e1ff;
				border-radius: 50%;

				p{
					display: block;
					position: absolute;
					text-transform: uppercase;
					color: $primary-color_blue;
					font-size: em(19px);
					font-family:'pf_din_text_cond_proregular',sans-serif;
				}
				i{
					color: $primary-color_blue;
					font-size: 3em;
					display: table-cell;
					vertical-align: middle;
					text-align: center;
				}
				&:nth-child(1){
					left: 40px !important;
					top:-25px;
					p{
						left: -280px;
					}
				}
				&:nth-child(2){
					left:-55px !important;
					top:130px;
					p{
						left: -250px;
					}
				}
				&:nth-child(3){
					left:41px !important;
					bottom:-36px;
					p{
						left: -280px;
					}
				}
				&:nth-child(4){
					right:50px !important;
					top:-25px;
					p{
						text-align: right;
						right: -280px;
					}
				}
				&:nth-child(5){
					right:-55px !important;
					top:130px;
					p{
						text-align: right;
						right: -280px;
					}
				}
				&:nth-child(6){
					right:50px !important;
					bottom:-35px;
					p{
						text-align: right;
						right: -280px;
					}
				}
			}

		}

	}
}
.reviews{
	padding-top: 35px;
	background-color: #fff;
	padding-bottom:100px;
	h2{
		margin-top: 25px;
	}
	.reviews-content{
		.item{
			margin-top: 25px;
			h3{
				font-family:'pf_din_text_cond_proregular', sans-serif;
				color: $primary-color_blue;
				font-size:em(22px);
			}
			img{
				float: left;
				margin-right:30px;
				margin-top:30px;
			}
			p{
				margin-left: 135px;
				margin-right:25px;
			}
		}
	}

}
.contacts{
	width: 100%;
	position: relative;
	background-color: #fff;
	overflow: hidden;

	img{
		width: 101%;
		top: -2px;
		left: 0;
		position: absolute;
		max-width: 101%;
		display: block;
		z-index: 9;
	}
	.map{
		padding: 0;
	}
	.contacts-form{
		background:#80ceff url("../img/contacts/newsletter-parallax.png") no-repeat center;
		background-size: cover;
		height: auto;
		min-height:800px;
		padding-right: 0;

			.contacts-wrapper{
				margin-top: 203px;
				margin-left:18%;
				img{
					width: 10%;
					position: static;
					float: left;
					margin-right: 25px;
					vertical-align:middle;
					margin-top:7px;
				}

				h3{
					font-family:'pf_dindisplay_proregular', sans-serif;
					font-size:em(28px);
					color: #fff;
				}
			}

	}
	.contacts-formal{
		margin-top: 120px;
		form{
			margin-left:18%;
			.form-group{
				float: left;
				margin-top: 15px;

			}
			input{
				width: 100%;
				height: 3.25em;
				border: 0.063em solid #80ceff;
				border-radius: 10px;
				padding-left:40px;
				text-transform: uppercase;
				&:focus{
					outline: none;
				}
			}

			textarea{
				width: 100%;
				height:10.25em;
				border: 0.063em solid #80ceff;
				border-radius: 10px;
				padding-left:40px;
				padding-top:10px;
				text-transform: uppercase;
				&:focus{
					outline: none;
				}
			}

		}

			.button--isi:hover {
				border:0.5px solid $primary-color_footer;
			}
		/* Common button styles */
		.button {
			float: left;
			display: block;
			border: none;
			position: relative;
			z-index: 1;
			-webkit-backface-visibility: hidden;
			border-radius: 10px;
			width: 14.438em;
			height: 3.25em;
			font-family:'pf_dindisplay_proregular', sans-serif;
		}
		.button:focus {
			outline: none;
		}

		/* Isi */
		.button--isi {
			background-color: $primary-color_blue;
			overflow: hidden;
			color: $primary-color_blue;
		}
		.button--isi::before {
			content: '';
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 100%;
			margin: -15px 0 0 1px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $primary-color_blue_light;
			-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
			-webkit-transform: scale3d(1, 2, 1);
			transform: scale3d(1, 2, 1);
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
			transition-timing-function: cubic-bezier(0.7,0,0.9,1);

		}
		.button--isi:hover > span {
			color:$primary-color_blue;
			@include mt(.3s)
		}


		.button--isi > span {
			vertical-align: middle;
			color: $primary-color_blue-light;

		}
		.button--isi:hover::before {
			-webkit-transform: scale3d(9, 9, 1);
			transform: scale3d(9, 9, 1);

		}


	}
}
footer{
	min-height: 270px;
	background-color: $primary-color_footer;
		.button-content{
			padding-left: 140px;

			}
		.svg-wrapper,
		.button-content {
			margin-top: 50px;
				.item{
					position: relative;
					height: auto;
						a{
							float: left;
								i{
									position: absolute;
									top: 28px;
									left:39px;
									bottom: 0;
									right: 0;
									color:$primary-color_blue;
									font-size: em(36px);
								}
							}
						h3{
							color: #fff;
							margin-left:100px;
							margin-top:15px;
							line-height:normal;
								span{
									font-size: em(12px);
								}
						}



				}

			}
	.button-content{
		.item:nth-child(2){
			a{
				i{
					top: 26px;
					left:48px;
					font-size: em(42px);

				}

			}
		}

	}
	.svg-wrapper{
		.item:nth-child(3){
			a{
				i{
					left:39px;
					font-size: em(42px);

				}

			}
		}

	}

		.shape {
		stroke-dasharray: 140 540;
		stroke-dashoffset: -474;
		stroke-width: 8px;
		fill: transparent;
		stroke: #fff;
		transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
		}

		.item:hover .shape {
		stroke-width: 5px;
		stroke-dashoffset: 0;
		stroke-dasharray: 760;

		}
		.item:hover  i {
		@include mt(0.8s) ;
		animation: pulse 1100ms;
		color: #fff !important;
		transform-origin: 50% 50%;

		}

	//Simple SCSS hover animations using font-awesome icons

	@keyframes pulse {
		0% {
			transform: scaleX(1) scaleY(1);
		}
		10% {
			transform: scaleX(0.85) scaleY(0.85);
		}
		20% {
			transform: scaleX(1) scaleY(1);
		}
		30% {
			transform: scaleX(0.85) scaleY(0.85);
		}
		40% {
			transform: scaleX(1) scaleY(1);
		}
		50% {
			transform: scaleX(0.85) scaleY(0.85);
		}
		60% {
			transform: scaleX(1) scaleY(1);
		}
		70% {
			transform: scaleX(0.85) scaleY(0.85);
		}
		80% {
			transform: scaleX(1) scaleY(1);
		}
		90% {
			transform: scaleX(0.85) scaleY(0.85);
		}
		100% {
			transform: scaleX(1) scaleY(1);
		}
	}

}




//ALWAYS END
@import "media";
@import "bootstrap";
//Load Libs SCSS
@import "app/libs/animate/animate";
@import "app/libs/font-awesome/css/font-awesome.min";
@import "app/libs/magnific-popup/dist/magnific-popup";


